@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared style */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.primary-btn{
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    border: none;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

/* header style */

/* nav related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-links{
    gap: 30px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

/* banner related style */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    font-size: 1rem;
    line-height: 1.6rem;
}
.banner-image{
    width: 100%;
}


/* Responsive Media Query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
}